doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='assets/css/style.css')
        title Landie
    body
        header
            .navbar
                nav
                    a.navbar__links(href='#') Home
                    a.navbar__links(href='#') About
                    a.navbar__links(href='#') Contact
                a.navbar__logo(href='#')
                    object(type='image/svg+xml' data='./assets/img/Landie.svg')
                button.navbar__button Buy Now
            .text
                h1 Introduce Your Product Quickly & Effectively
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                p mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                .text__buttons
                    button Purchase UI Kit
                    button Learn More
            img(src='./assets/img/header_background_image.png' alt='man with solutions')
        main
            .text
                h2 Light, Fast & Powerful
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                p mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            .features
                .features__item
                    a(href='#')
                        object(data='./assets/img/features_icon.svg', type='image/svg+xml')
                    h4 Title Goes Here
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                .features__item
                    a(href='#')
                        object(data='./assets/img/features_icon.svg', type='image/svg+xml')
                    h4 Title Goes Here
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            img(src='./assets/img/main_background.png' alt='girl with phone')